/* navbar area */
.nav {
  position: sticky;
  top: 0;
  background-color: #000f1db2;
  z-index: 2;
}

.nav-bar-parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

/* left links */
.left-links-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 1.6rem;
}

.left-links-parent a:hover,
.left-links-parent h2 span:hover {
  color: rgb(204, 157, 27);
}

/* a:hover {
  color: rgb(204, 157, 27);
} */

.home-letter {
  color: rgb(255, 255, 255);
}
/* .home-letter:hover {
  color: rgb(204, 157, 27);
} */

/* right github link */

.github-parent {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.github-parent img {
  width: 7%;
  border: 2px transparent solid;
  border-radius: 60px;
  margin: 0 3% 0 0;
}

.github-parent img:hover {
  border: 2px white solid;
}

/* a img:hover {
  border: rgb(204, 157, 27) solid 2px;
} */
