/* top area below navbar */
.top-parent {
  height: 90vh;
}

/* left (profile pic) */
.left-section-parent {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 35%;
}

.profile-pic {
  background-image: URL(profile_pic_austin.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 0 30% 30% 0;
  margin: 7% 0 0 0;
  filter: contrast(110%);
  transition: 0.2s;
}

.profile-pic:hover {
  background-image: URL(profile_pic_austin.JPG);
  transform: scale(1.1);
  transition: 0.3s;
}

/* right (dialog)*/
.right-section-parent {
  word-wrap: break-word;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
  padding: 2.5% 0 2.5% 2.5%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.061);
}

.color-letter {
  color: rgb(204, 157, 27);
}

/* middle area */
.middle-parent {
  height: 90vh;
  display: flex;
  flex-flow: row-reverse;
  margin: 0;
}

.middle-header {
  padding: 0% 3%;
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px 0 0 40px;
  border: 6px solid rgba(255, 255, 255, 0.061);
}

.middle-paragraph {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0;
}

.middle-paragraph section {
  width: 60%;
}

.middle-paragraph p {
  margin: 3% 0 0 0;
}

/* resume area */
.resume-parent {
  display: flex;
  justify-content: center;
  margin: 4% 0 4% 0;
}

.resume-parent p {
  font-family: monospace;
}

.resume-header {
  padding: 0%;
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 00px;
  border: 6px solid rgba(255, 255, 255, 0.061);
}

.resume-items-list-parent {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.job-degree {
  margin: 0;
  padding: 2% 3%;
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.job-1 {
  margin: 0.5% 0 0 0;
  padding: 2% 3%;
  width: 70%;
  display: flex;
  flex-flow: column;
  /* border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.061); */
}

.job-2 {
  margin: 0.5% 0 0 0;
  padding: 2% 3%;
  width: 70%;
  display: flex;
  flex-flow: column;
  /* border-radius: 40px;
  border: 3px solid rgba(255, 255, 255, 0.061); */
}

/* ---------------------------------- */
/* RESPONSIVE DESIGN */
@media screen and (max-width: 1100px) {
  /* Top */
  .top-parent {
    display: flex;
    height: auto;
    margin-bottom: 4%;
    width: 100%;
    flex-flow: column;
  }

  .left-section-parent {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
  }

  .profile-pic {
    width: 100%;
    border-radius: 50px;
  }

  .left-section-parent {
    margin-bottom: 4%;
  }

  /* Middle(my story) */
  .middle-parent {
    flex-flow: row-reverse;
    height: auto;
  }

  /* bottom (resume) */
  .resume-parent {
    flex-flow: row;
    height: auto;
  }
}

@media screen and (max-width: 850px) {
  .left-section-parent {
    width: 50%;
  }
  .right-section-parent {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .top-parent,
  .middle-parent,
  .resume-parent {
    margin-bottom: 9%;
  }

  .left-section-parent {
    width: 65%;
  }
  .right-section-parent {
    width: 80%;
  }

  /* Middle(my story) */
  .middle-parent {
    flex-flow: column;
  }

  .middle-header,
  .middle-paragraph,
  .resume-header,
  .resume-items-list-parent {
    width: 100%;
  }

  /* bottom (resume) */
  .resume-parent {
    flex-flow: column;
  }
}

@media screen and (max-width: 450px) {
  /* top */
  .left-section-parent {
    width: 85%;
  }
  .right-section-parent {
    width: 90%;
  }

  /* content in middle and bottom */
  .job-1,
  .job-2,
  .job-degree,
  .middle-paragraph section {
    width: 87%;
    margin: 1% 0;
  }
}
